/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0d1b2a, #1b263b);
    color: white;
    text-align: center;
}

/* NAVBAR */
.navbar {
    background: #1b263b;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* BOUTONS */
.navbar button {
    background: #4cc9f0;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background: #00b4d8;
    transform: scale(1.05);
}

/* CONTENU */
.content {
    display: none;
    padding: 60px 20px;
}

.content.active {
    display: block;
}

/* TITRES */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
    color: #4cc9f0;
}
